<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
  <nav class="navBar">
    <div class="name-and-logo">
      <img src="/images/panda-workout.jpg">&nbsp;
      <h1 class="appName">AmFit</h1>
    </div>
    <div class="links">
      <div class="left-side-links">
        <a href="/">Home</a>
        <div class="separator">|</div>  
        <a href="/workouts" <%- title === 'All Workouts' ? 'class="active"' : '' %>>All Workouts</a>
        <div class="separator">|</div>  
        <% if (user) { %>
            <!-- Add back once exercises and new function for workouts set up -->
          <!-- <a href="/exercises/new"	<%- title === 'Add Exercise' ? 'class="active"' : '' %>>
              ADD EXERCISE</a> -->
            <a href="/workouts/my" <%- title === 'My Workouts' ? 'class="active"' : '' %>>My Workouts</a>
            <div class="separator">|</div>  
            <a href="/workouts/new" <%- title === 'Add Workout' ? 'class="active"' : '' %>>Add Workout</a>
        <% } %>
      </div>
      <div class="separator">|</div>   
      <div class="right-side-links">
        <% if (user) { %>
          <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </div>
    </div>
  </nav>
  <main>
    <!-- <h1><%= title %></h1> -->