<%- include('../partials/header') %>

<!-- Edit specific code -->
<h1><%= title %></h1>

<p>Please edit your workout below</p>

<form action="/workouts/<%= workout._id %>?_method=PUT" method="POST" class="edit-workout-form m-top">

    <!-- Name -->
    <label>Name</label>
    <input type="text" name="name" value="<%= workout.name %>">
    
    <!-- Date -->
    <label>Date</label>
    <input type="datetime-local" name="date" value="<%= workout.date.toISOString().slice(0, 16) %>">
    
    <!-- Category -->
    <label>Category</label>
    <input type="text" name="category" value="<%= workout.category %>">
    
    <!-- Duration -->
    <label>Duration</label>
    <input type="text" name="duration" value="<%= workout.duration %>">
    
    <!-- Calories -->
    <label>Calories burned</label>
    <input type="text" name="calories" value="<%= workout.calories %>">
    
    <!-- Exercises -->
    <!-- ? Trying to get drop down functionality to work! It works but can't see text! -->
    <label>Exercises (please create new workout if changes needed)</label>
    <select name="exercises" id="exercises-dropdown-menu" multiple>
        <% workout.exercises.forEach(exercise => { %>
            <option value="<%= exercise._id %>" 
                <% if (workout.exercises.includes(exercise._id)) { %>selected<% } %>>
                    <%= exercise.name %>
            </option>
        <% }) %>
    </select>

    <!-- Submit new workout -->
    <span class="addWorkoutBtn m-top"><input type="submit" value="Update Workout"></span>

    <!-- Error rendering added -->
    <small class="black"><%= errorMessage %></small>

</form>
<!-- End of Edit specific code -->

<%- include('../partials/footer') %>