<%- include('../partials/header') %>

<!-- Index specific code -->

<p>Below is a list of all workouts:</p>

<ul> 
    <% workouts.forEach(function(workout){ %>
        <li>
            <a href="/workouts/<%=workout._id %>"><%= workout.name %></a> (<%= workout.date.toLocaleString('en-GB', { dateStyle: 'full', timeStyle: 'short' }) %>)
            
            <!-- Like/unlike button -->
            <% if (user) { %>
                <form class="like-button" method="POST" action="/workouts/<%= workout._id %>/likes">
                    <% if (workout.likes.some(like => like.user.equals(user._id))) { %>
                        <button type="submit">Unlike</button>
                    <% } else { %>
                        <button type="submit">Like</button>
                    <% } %>
                </form>
            <% } %>


            Likes: <%= workout.likes.length %>
            
            <form 
                action="/workouts/<%= workout.id %>?_method=DELETE"
                method="POST"
                class="delete-workout-form"
            >
                <button type="submit">X</button>
            </form>
        </li>
    <% }) %> 
</ul>

<!-- End of index specific code -->

<%- include('../partials/footer') %>