<%- include('../partials/header') %>

<!-- My workouts specific code -->
<h1><%= title %></h1>

<p>Hi <%= user.name %>! Here are all your workouts below:</p>

<ul> 
    <% workouts.forEach(function(workout){ %>
        <li>
            <a href="/workouts/<%=workout._id %>" class="workout-names"><%= workout.name %></a>
            <div class="workout-created-dates">(<%= workout.date.toLocaleString('en-GB', { dateStyle: 'full', timeStyle: 'short' }) %>)</div>
            <div class="workout-likes">Likes: <%= workout.likes.length %></div>
            <form 
                action="/workouts/<%= workout.id %>?_method=DELETE"
                method="POST"
                class="delete-workout-form"
            >
                <button type="submit">X</button>
            </form>
        </li>
    <% }) %> 
</ul>
<!-- End of my workouts specific code -->

<%- include('../partials/footer') %>