<%- include('../partials/header') %>

<!-- Table version for show specific code -->
<h1><%= title %></h1>

<h3><%= workout.name %> workout details below</h3>
<table class="workout-show-table">
    <thead>
        <th>Date</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Calories</th>
    </thead>
    <tbody>
        <td><%= workout.date.toLocaleString('en-GB', { dateStyle: 'full', timeStyle: 'short' }) %></td>
        <td><%= workout.category %></td>
        <td><%= workout.duration %></td>
        <td><%= workout.calories %></td>
    </tbody>
</table>

<h3>Exercises in workout</h3>
<table class="workout-exercises-show-table">
    <thead>
        <th>Exercises</th>
    </thead>
    <tbody>
        <!-- Loop over exercises array with forEach to show all exercises -->
        <% workout.exercises.forEach(exercise => { %>
            <tr>
                <td><%= exercise.name %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h3>Add exercises to your workout</h3>
<form id="add-exercise-to-workout-form" action="/workouts/<%= workout._id %>/exercises" method="POST">
    <select name="exerciseId">
        <%- exercises.map(exercise =>
            `<option value="${exercise._id}">${exercise.name}</option>`
        ).join('') %>
    </select>
    <button type="submit" class="add-exercise-to-workout-btn">Add to Exercises</button>
</form>

<h4>If you need to create the exercise first, go here</h4>
<a href="/exercises/new" class="create-exercise-btn">Add Exercise</a>

<h4>To edit your workout</h4>
<% if (user && workout.user.equals(user._id)) { %>
    <a href="/workouts/<%= workout._id %>/edit" class="edit-button">Edit Workout</a>
<% } %>

<p>
    Workout created on: <%= workout.createdAt.toLocaleString() %>
    <br>
    Workout last updated: <%= workout.updatedAt.toLocaleString() %>
</p>
<!-- End of show specific code -->

<%- include('../partials/footer') %>