<!-- Show specific code -->
<!-- <h3><%= workout.name %> workout details below</h3> -->

<!-- <ul>
    <% for(const key in workout) { %>
        <% if(key !== '_id' && key !== '__v') { %>
            <li><%= key[0].toUpperCase() + key.substring(1) %>: <%= workout[key] %></li>
       <% } %>
    <% } %>
    
    <a href="/workouts/<%= workout._id %>/edit">Edit Workout</a>
</ul> -->


<!-- End of show specific code -->


<%- include('../partials/header') %>

<!-- Table version for show specific code -->
<h1><%= title %></h1>

<h3><%= workout.name %> workout details below</h3>
<table>
    <thead class="workoutShowTable">
        <th>Date</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Calories</th>
    </thead>
    <tbody>
        <td><%= workout.date.toLocaleString('en-GB', { dateStyle: 'full', timeStyle: 'short' }) %></td>
        <td><%= workout.category %></td>
        <td><%= workout.duration %></td>
        <td><%= workout.calories %></td>
    </tbody>
</table>

<h3>Exercises in workout</h3>
<table>
    <thead class="workoutExercisesShowTable">
        <th>Exercises</th>
    </thead>
    <tbody>
        <!-- Add forEach to iterate over exercises array when I get there to show all exercises -->
        <td><%= workout.exercises %></td>
    </tbody>
</table>

<% if (user && workout.user.equals(user._id)) { %>
    <a href="/workouts/<%= workout._id %>/edit" class="edit-button m-top">Edit Workout</a>
<% } %>

<p>
    Workout created on: <%= workout.createdAt.toLocaleString() %>
    <br>
    Workout last updated: <%= workout.updatedAt.toLocaleString() %>
</p>
<!-- End of show specific code -->

<%- include('../partials/footer') %>