<%- include('../partials/header') %>

<!-- My exercises specific code -->
<h1><%= title %></h1>

<p>Hi <%= user.name %>! Here are all your exercises below:</p>

<ul> 
    <% exercises.forEach(function(exercise){ %>
        <li>
            <a href="/exercises/<%= exercise._id %>" class="exercise-names"><%= exercise.name %></a>&nbsp;
            <div class="exercise-created-dates">Created: <%= exercise.createdAt.toDateString() %></div>
            <form 
                action="/exercises/<%= exercise._id %>?_method=DELETE"
                method="POST"
                class="delete-exercise-form"
                >
                <button type="submit">X</button>
            </form>
        </li>
    <% }) %> 
</ul>

<a href="/exercises" class="all-exercises-btn m-top">All Exercises</a>
<!-- End of my exercises specific code -->

<%- include('../partials/footer') %>