<%- include('../partials/header') %>

<!-- Show exercises specific code -->
<h1><%= title %></h1>

<p>Exercise details below:</p>

<table>
    <thead class="exerciseShowTable">
        <th>Name</th>
        <th>Category</th>
        <th>Muscles Worked</th>
    </thead>
    <tbody>
        <td><%= exercise.name %></td>
        <td><%= exercise.category %></td>
        <td><%= exercise.musclesWorked %></td>
    </tbody>
</table>



<!-- End of show exercises specific code -->

<%- include('../partials/footer') %>